body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #5aafffb9;
  }

header {
    background-color: #5aafff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.package {
    display: flex;
    align-items: center;
    padding-left: 600px;
}

.Description {
    display: flex;
    align-items: center;
    padding-left: 450px;
}

.Activity {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.Activity-lists {
    display: flex;
    align-items: center;
    padding-left: 40px;
}


.person-counter {
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.button {
  border: 2px solid rgb(0, 113, 242);
  background-color: rgb(0, 68, 255);
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  width: 65px; 
  text-align: center;
  flex-direction: column;
  margin-left: 50px;
}

footer {
    background-color: #5aafff;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-top: auto;
}

/* Porfile drop down menu  */
.profile {
    position: relative;
    display: inline-block;
    text-align: center;
}

.profile > a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #5aafff;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.profile:hover > a {
    background-color: #2c99ff;
}

.profile .dropdown {
    display: none;
    position: fixed;
    top: 55px;
    right: 9px;
    background-color: #5aafff;
    border-radius: 10px;
    z-index: 999;
    list-style-type: none;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s;
}

.profile:hover .dropdown {
    display: block;
    background-color: #2c99ff;
}

.profile .dropdown li {
    padding: 10px 20px;
    width: 110px;
}

.profile .dropdown li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    transition: background-color 0.3s;
}

.profile .dropdown li a:hover {
    background-color: #1b7fd1;
}

.profile:hover {
    background-color: #2c99ff;
}

/* End of drop down menu*/