<!DOCTYPE html>
<html>
<head>
    <title>TravelHive - Booking History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_w1.PNG') }}" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/logo_w1.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                    {% endif %}
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="greet">
        <h1>Your Booking History</h1>
    </div>

    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'alert' %}
                <div class="flash-message-alert">{{ message }}</div>
                {% else %}
                <div class="flash-message-success">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>

    {% if bookings %}
    <table class="cart-table">
        <tr>
            <th>Booking Date</th>
            <th>Package</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Dates</th>
        </tr>
        {% set counter = 1 %}
        {% for booking in bookings %}
        <tr>
            <td>{{ booking.booking_date }}</td>
            <td>{{ booking.travel_package.city }}, {{ booking.travel_package.country }}</td>
            <td>RM{{ booking.total_price }}</td>
            <td>{{ booking.quantity }}</td>
            <td>{{ booking.travel_package.date }} <strong>To</strong> {{ booking.travel_package.date_end }}</td>
        </tr>
        {% set counter = counter + 1 %}
        {% endfor %}

    </table>
    <div class="cart-actions">
        <a href="/" class="btn btn-primary btn-proceed">Back</a>
    </div>
    {% else %}
    <p class="cart-empty-msg">No bookings found. <strong>:c</strong></p>
    {% endif %}

    <footer>
        <p>&copy; Travel Hive. All rights reserved.</p>
    </footer>
</body>
</html>
