<!DOCTYPE html>
<html>
<head>
    <title>TravelHive - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo_w1.PNG') }}" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/logo_w1.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                    {% endif %}
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/signup">Sign Up</a>
            </div>
        </nav>
    </header>
  
    <section class="auth-form">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="flash-messages">
                {% for category, message in messages %}
                  <div class="flash-message {{ category }}">
                    {{ message }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </section>
    
    <footer>
        <p>&copy; Travel Hive. All rights reserved.</p>
    </footer>
</body>
</html>
