<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Home.css">
    <title>Autumn events</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

        <div class="def-cards">
            <h1>Autumn</h1>
            <p>+United Kingdom - Longleat Festival of Light ----- 11/11/2023 to 3/1/2024<br>
            +Switzerland - Chestnut Festival ----- mid Octobre 2024<br>
            +Iceland - Imagine Peace Tower ----- 9/10/2024 to 8/12/2024<br>
            +Germany - Berlin Festival of lights ----- Octobre
            </p>
        </div>
    </body>
</html>
