<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'Part - Booking</title>
    <link rel="stylesheet" href="static/css/booking.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/Booking">Booking</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <a href="#">Option</a>
                <ul class="dropdown">
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="Title">
        <h1>Booking</h1>
    </div>
    
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'alert' %}
                <div class="flash-message-alert">{{ message }}</div>
                {% else %}
                <div class="flash-message-success">{{ message }}</div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <table class="book-table">
        <tr>
            <th>No.</th>
            <th>Package</th>
            <th>Price</th>
            <th>Dates</th>
            <th>Actions</th>
        </tr>
        <form action="">
            {% for package in booking_items %}
            <tr>
                <td></td>
                <td>{{ Activity_name }}</td>
                <td></td>
                <td>Date Start <strong>To</strong> Date End</td>
                <td>
                    <div class="action-buttons">
                        <a href="" class="btn btn-remove">Remove</a>
                        <button type="submit" class="btn btn-update">Update</button>
                        
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>1</td>
            <td></td>
            <td id="price" name="price" value="0"></td>
            <td>Date Start <strong>To</strong> Date End</td>
            <td>
                <div class="action-buttons">
                    <a href="" class="btn btn-remove">Remove</a>
                    <button type="submit" class="btn btn-update">Update</button>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="total-label">Total</td>
            <td colspan="2" class="total-price"></td>
            <td colspan="2"></td>
        </tr>
        </form>
    </table>
    </body>
    </html>



          