<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
    <script src="https://cdn.maptiler.com/maplibre-gl-js/v1.14.0/maplibre-gl.js"></script>
    <link href="https://cdn.maptiler.com/maplibre-gl-js/v1.14.0/maplibre-gl.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/Booking">Booking</a></li>
                    <li><a href="/chat">Chat</a></li> 
                    {% endif %}   
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

<footer>© 2024 LetsD'Part. All rights reserved.</footer>

</body>
</html>