<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/login">Log In</a>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <p>Twenty years from now you will be more disappointed by the things you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. EXPLORE. DREAM. DISCOVER.</p>
            <a href="/package" class="btn">Let's Explore</a>
        </div>
    </section>

    <section class="hero-2">
        <div class="hero-content">
        <a href="/Iceland" class="btn2" ><p class="btn3">Iceland</p><img src="\static\pin3.png" /></a>
        </div>
    </section>

    <div class="package">
        <h1><b><i>Basic package</i></b></h1><br>
    </div>
    <div class="Description">
        <p>Starts from RM 3.7k per person</p>
        <p>9 Days 7 Nights</p>
        <p>Flight - Lufthansa (Direct flight to Frankfurt from KLIA)</p>
    </div>
    <div class="Activity lists">
        <ul>
            <li>Berlin - Visit art galleries, historical sites especially the sites from the Nazis reign</li><br>
            <li>Munich - Visit the infamous Allianz Arena of the Bayern München. Join the Oktoberfest, the  traditional<br> festival celebrates every October in Germany. Featuring beautiful gardens and worth-exploring markets.</li><br>
            <li>Black Forest - places for nature lover, a picturesque scenery. Highly recommended for Photographer.</li><br>
            <li>Nuremberg - The city's darkest WW2 connections are on display at the documentations<br> Centre Nazi Party Rallying Grounds and the memorial Nuremberg trial Museum.</li><br>
            <li>Munster - German Panzer museum Munster, a museum about Germany's war machines since the great war until modern equipments.</li>
        </ul>
    </div>

    <div class="person counter">
        <form>
            <label for="No. of pax">Select No. of pax:</label>
            <select id="No. of pax" name="No. of Pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
            <input type="select" value="select">
        </form>
        </div>
    
        <a href="/booking page" class="button"><b>Proceed</b></a>

</body>
</html>