<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/Booking">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>   
                    {% endif %} 
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="package">
        <h1><b><i><u>Basic package</u></i></b></h1><br>
    </div>
    <div class="Description">
        <form id="booking-form" method="POST" action="/Germany">
            <ul>
                <li>
                    <label for="start-date"><b>Start Date:</b></label>
                    <input type="date" id="start-date" name="start-date" required>
                </li>
                <li>
                    <label for="return-date"><b>Return Date:</b></label>
                    <input type="date" id="return-date" name="return-date" required>
                </li> 
                <li>
                    <label for="flight"><b>Flight:</b></label>
                    <select id="flight" name="flight">
                        <option value="Lufthansa">Lufthansa - RM1300</option>
                        <option value="Emirates">Emirates - RM1600</option>
                        <option value="Singapore Airlines">Singapore Airlines - RM1400</option>
                        <option value="Malaysia Airlines">Malaysia Airlines - RM1200</option>
                    </select>
                </li>
                <li>
                    <label for="lodging"><b>Lodging:</b></label>
                    <select id="lodging" name="lodging">
                        <option value="Leonardo Royal Hotel Frankfurt">Leonardo Royal Hotel Frankfurt - RM700</option>
                        <option value="Hilton Frankfurt City Centre">Hilton Frankfurt City Centre - RM900</option>
                        <option value="Marriott Frankfurt">Marriott Frankfurt - RM950</option>
                    </select>
                </li>
            </ul>
            </form>
            </div>

    <div class="Activity">
        <h1><b>Activites</b></h1>
    </div>
    
    <div class="Activity-lists">
        <form id="activity-form">
            <ul>
                <li>
                    <input type="checkbox" id="berlin" name="activities" value="berlin">
                    <label for="berlin">Berlin - Visit art galleries, historical sites especially the sites from the Nazis reign - RM400</label>
                </li><br>
                <li>
                    <input type="checkbox" id="munich" name="activities" value="munich">
                    <label for="munich">Munich - Visit the infamous Allianz Arena of the Bayern München. Join the Oktoberfest, the traditional festival celebrates every October in Germany. Featuring beautiful gardens and worth-exploring markets. - RM200</label>
                </li><br>
                <li>
                    <input type="checkbox" id="black-forest" name="activities" value="black-forest">
                    <label for="black-forest">Black Forest - places for nature lover, a picturesque scenery. Highly recommended for Photographer. - RM350</label>
                </li><br>
                <li>
                    <input type="checkbox" id="nuremberg" name="activities" value="nuremberg">
                    <label for="nuremberg">Nuremberg - The city's darkest WW2 connections are on display at the documentations Centre Nazi Party Rallying Grounds and the memorial Nuremberg trial Museum. - RM80</label>
                </li><br>
                <li>
                    <input type="checkbox" id="munster" name="activities" value="munster">
                    <label for="munster">Munster - German Panzer museum Munster, a museum about Germany's war machines since the great war until modern equipments. - RM70</label>
                </li>
            </ul>
            <div class="person-counter">
                <label for="No. of pax">Select No. of pax:</label>
                <select id="No. of pax" name="No. of Pax">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
            <br><br>
            <a href="/Booking" class="button"><b>Proceed</b></a>
        </form>
    </div>
</body>
<footer>
    <p>LetsD'Part. All rights reserved @2024.</p>
</footer>
</html>