<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/login">Log In</a>
            </div>
        </nav>
    </header>

    <h2><b><i>Basic Packages</i></b></h2><br>

    <h1><u>10 days 8 nights</u></h1>
    <ul>
        <li>Seljalandfoss - Seljalandsfoss is a waterfall in Iceland. Seljalandsfoss is located in the South Region in Iceland right by Route 1 and the road that leads to Þórsmörk Road 249.<br> The waterfall drops 60 m and is part of the Seljalands River that has its origin in the volcano glacier Eyjafjallajökull.</li><br>

        <li>Vik -  the southernmost village in Iceland. It is one of the best place to spot the northern light or known as aurora.<br> If you visit here during Christmas eve, this town will make you feel like you are in a Santa Claus' hometown.</li><br>

        <li>Diamond Beach - The Diamond Beach, also known as Breiðamerkursandur, is a beach located on the south coast of Iceland,<br> near Jökulsárlón glacier lagoon. The beach is famous for its black sand and icebergs that wash up on the shore, resembling sparkling diamonds.</li><br>

        <li>Úthlíð -  a rare gem to be found in largely unspoiled Icelandic landscape. It is located centrally from most key locations,<br> only an hour drive from Reykjavik, 25 min from the national park of Þingvellir, 10 min from the famous Geysir hot springs and only 15 min from Gullfoss.</li><br>

        <li>Reykjavík - Reykjavik, on the coast of Iceland, is the country's capital and largest city.<br> It's home to the National and Saga museums, tracing Iceland’s Viking history. The striking concrete Hallgrimskirkja church and rotating Perlan glass dome offer sweeping views of the sea and nearby hills.</li>
    </ul>

    <form>
        <label for="No. of pax">Select No. of pax:</label>
        <select id="No. of pax" name="No. of Pax">
            <option value="1">1 person</option>
            <option value="2">2 person</option>
            <option value="3">3 person</option>
            <option value="4">4 person</option>
            <option value="5">5 person</option>
            <option value="6">6 person</option>
            <option value="7">7 person</option>
            <option value="8">8 person</option>
            <option value="9">9 person</option>
            <option value="10">10 person</option>
            <option value="11">11 person</option>
            <option value="12">12 person</option>
            <option value="13">13 person</option>
            <option value="14">14 person</option>
            <option value="15">15 person</option>
            <option value="16">16 person</option>
            <option value="17">17 person</option>
            <option value="18">18person</option>
            <option value="19">19 person</option>
            <option value="20">20 person</option>
        </select>
        <input type="submit" value="submit">
    </form>

    <a href="/booking page" class="button"><b>Confirm</b></a>

    </body>
    </html>
