<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/package.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/login">Log In</a>
            </div>
        </nav>
    </header>

    <div class="title">
        <h3><b>Travel Packages - Choose your package</b></h3>
    </div>

    <div class="Iceland">
        <div class="Iceland-pic">
            <image src="/static/Iceland.jpg" alt="Reykjavik">
        </div>
        <h2><b><i>Iceland</i></b></h2>
        <a href="/Iceland" class="button">Book Now!</a>
        
    </div>

    <div class="Germany">
        <div class="Germany-pic">
        <image src="/static/Germany.jpg" alt="Berlin">
        </div>
        <h2><b><i>Germany</i></b></h2>
        <a href="/Germany" class="button">Book Now!</a>

    </div>

    <div class="United Kingdom">
        <div class="UK-pic">
            <image src="/static/UK.jpg" alt="London">
        </div>
        <h2><b><i>United Kingdom</i></b></h2>
        <a href="/United Kingdom" class="button">Book Now!</a>

    </div>

    <div class="Turkey">
        <div class="Turkey-pic">
            <image src="/static/Turkey.jpg" alt="cappadoccia">
         </div>
         <h2><b><i>Turkey</i></b></h2>
         <a href="/Turkey" class="button">Book Now!</a>
    </div>

    <div class="Switzerland">
        <div class="Switzerland-pic">
            <image src="/static/Switzerland.jpg" alt="Bern">
        </div>
        <h2><b><i>Switzerland</i></b></h2>
        <a href="/Switzerland" class="button">Book Now!</a>
    </div>
    </body>
    </html>
