<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>LetsD'Part - sign up</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel= "icon" href="/static/logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li> 
                    {% endif %}   
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div class="h1">
        <h1>Fill in to sign up Plebs</h1>
    </div>
    <div class="login">
        <div class="login_form">
            <form method="POST">
                <input type="text" name="full_name" placeholder="Full Name" >
                <input type="text" name ="username" placeholder="Username" >
                <input type="email" name="email" placeholder="Email" >
                <input type="password" name="password" placeholder="Password" >
                <input type="password" name="confirm_password" placeholder="Confirm Password">
                <input type="submit" value="Sign up">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="flash-messages">
                    {% for category, message in messages %}
                      <div class="flash-message {{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </form>
        </div>
        <h3>Already have an account? <a href="/login">Login here</a></h3>
    </div>
    
<footer>
    <p>LetsD'Part. All rights reserved @2024.</p>
</footer>
        
</body>
</html>