<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Home.css">
    <title>Spring events</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/Booking">Booking</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <a href="#">Option</a>
                <ul class="dropdown">
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <form action="/phone" method="GET" id="phone-form" >
        <div class="def-cards">
            
            <h1>Spring Events</h1>
            <ul>
                {% for event in events %}
                    <li>
                        <strong>{{ event.event_name }}</strong><br>
                        Country: {{ event.country }}<br>
                        Date: {{ event.date }}<br><br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </form>
    </body>
</html>