<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/Home.css">
    <title>Summer events</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/login">Log In</a>
            </div>
        </nav>
    </header>

    <div class="def-cards">
        <h1>Summer</h1>
        <p>+Turkey - Trojan Festival ----- August 2024<br>
        +United Kingdom - Stonehenge Summer Solstice ----- 18-22 June 2024<br>
        +Iceland - Reykjavik Culture Night ----- 3rd week of August 2024<br>
        +Germany - Den Rhein in Flammen ----- August 2024
    </p>
    </div>
</body>
</html>