<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel="icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/Booking">Booking</a></li>
                    <li><a href="/chat">Chat</a></li> 
                    {% endif %}
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>   
                    {% endif %} 
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="greet">
        <h1>Summary</h1>
    </div>
    <form action="/cust-info" method="POST">
        {% for cart_item in cart_items %}
        <div class="checkout-container">
            <div class="package-summary">
                <div class="package-info">
                    <h3>{{ cart_item.travel_package.city }}, {{ cart_item.travel_package.country }}</h3>
                    <p><strong>Price</strong>: RM{{ cart_item.travel_package.price }}</p>
                    <p><strong>Quantity</strong>: {{ cart_item.quantity }}</p>
                    <p><strong>Dates</strong>: {{ cart_item.travel_package.date }} <strong>To</strong> {{ cart_item.travel_package.date_end }}</p>
                    <p><strong>Duration</strong>: {{ cart_item.travel_package.days }} Days, {{ cart_item.travel_package.nights }} Nights</p>
                    <p><strong>Hotel</strong>: {{ cart_item.travel_package.hotel_name }}</p>
                    <p><strong>Airlines</strong>: {{ cart_item.travel_package.airline_name }}</p>
                    <p><strong>Pax</strong>: {{ cart_item.travel_package.pax }}</p>
                </div>
            </div>
            <div class="customer-info-box">
                <div class="collapse-toggle" onclick="toggleCollapse(event)">
                    <h2>Customer Information</h2>
                    <span class="toggle-icon">&#x25BC;</span>
                </div>
                <div class="customer-info-content">
                    <div class="customer-info-form">
                        {% for i in range(cart_item.quantity) %}
                        {% set form_counter = i + 1 %}
                        <div class="form-head">
                            <h2>Main name {{ form_counter }}</h2>
                            <div class="form-field">
                                <label for="name{{ cart_item.travel_package.id }}_{{ form_counter }}">Name:</label>
                                <input type="text" id="name{{ cart_item.travel_package.id }}_{{ form_counter }}" name="name{{ cart_item.travel_package.id }}_{{ form_counter }}" required>
                            </div>
                            <div class="form-field">
                                <label for="ic{{ cart_item.travel_package.id }}_{{ form_counter }}">IC:</label>
                                <input type="number" id="ic{{ cart_item.travel_package.id }}_{{ form_counter }}" name="ic{{ cart_item.travel_package.id }}_{{ form_counter }}" required>
                            </div>
                        </div>
                        <div class="form-airline">
                            <h2>Airline for Form {{ form_counter }}</h2>
                            {% for j in range(cart_item.travel_package.pax) %}
                            <h3>Name {{ j+1 }}</h3>
                            <div class="form-field">
                                <label for="airline_name{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}">Name:</label>
                                <input type="text" id="airline_name{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}" name="airline_name{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}" required>
                            </div>
                            <div class="form-field">
                                <label for="airline_ic{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}">IC:</label>
                                <input type="number" id="airline_ic{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}" name="airline_ic{{ cart_item.travel_package.id }}_{{ form_counter }}_{{ j+1 }}" required>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}                  
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-proceed">Proceed</button>
    </form>
    
    <footer>© 2024 LetsD'Part. All rights reserved.</footer>
</body>
</html>