<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li> 
                    {% endif %}      
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="package">
        <h1><b><i><u>Basic package</u></i></b></h1><br>
    </div>
    <div class="Description">
        <ul>
        <li>Starts from RM 5k per person</li>
        <li>12 Days 10 Nights</li>
        <li>Flight - Swiss Airlines (Direct flight to Zurich International Airport from Kuala Lumpur International Airport)</li>
        <li><b>From: </b>19/8/2024 <b>To: </b>31/8/2024</li>
        <li><b>Lodgings: </b>Hotel Chalet du Lac</li>
        </ul>
    </div>
    
    <div class="Activity">
        <h1><b>Activites</b></h1>
    </div>

    <div class="Activity-lists">
        <ul>
            <li>Zurich - The city of Zurich, a global center for banking and finance, lies at the north end of Lake Zurich in northern Switzerland.<br> The picturesque lanes of the central Altstadt (Old Town), on either side of the Limmat River, reflect its pre-medieval history.</li><br>
            <li>Geneva - visit the Chillon Castle. Chillon Castle is an island medieval castle located on Lake Geneva,<br> south of Veytaux in the canton of Vaud. It is situated at the eastern end of the lake, on the narrow shore between Montreux and Villeneuve, which gives access to the Alpine valley of the Rhône </li><br>
            <li>Mount Pilatus - Pilatus, also often referred to as Mount Pilatus, is a mountain massif overlooking Lucerne in Central Switzerland.<br> It is composed of several peaks, of which the highest is named Tomlishorn.</li><br>
            <li>Rhine Falls - The Rhine Falls is a waterfall located in Switzerland and the most powerful waterfall in Europe.<br> The falls are located on the High Rhine on the border between the cantons of Schaffhausen and Zürich<br> between the municipalities of Neuhausen am Rheinfall  and Laufen-Uhwiesen/Dachsen , next to the town of Schaffhausen in northern Switzerland.</li><br>
            <li>Lake Zurich -  Lake Zurich  is a lake in Switzerland, extending southeast of the city of Zürich. Depending on the context, Lake Zurich or Zürichsee can be used to describe the lake as a whole,<br> or just that part of the lake downstream of the Seedamm at Rapperswil, whilst the part upstream of Rapperswil may be called the Obersee or Upper Lake.</li>
        </ul>
    </div>
    <br>
    <div class="person-counter">
        <form>
            <label for="No. of pax">Select No. of pax:</label>
            <select id="No. of pax" name="No. of Pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </form>
        </div>
    
        <a href="/Booking" class="button"><b>Proceed</b></a>

</body>
<footer>
    <p>LetsD'Part. All rights reserved @2024.</p>
</footer>
</html>