<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/Booking">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                    {% endif %}
                </ul>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <a href="#">Profile</a>
                <ul class="dropdown">
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {% endif %}
                </ul>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="package">
        <h1><b><i>Basic package</i></b></h1><br>
    </div>
    <div class="Description">
        <ul>
        <li>Starts from RM 3.8kk per person</li>
        <li>11 Days 9 Nights</li>
        <li>Flight - Malaysia Airlines (Direct flight to Istanbul Airport from Kuala Lumpur International Airport)</li>
        <li><b>From: </b>11/9/2024 <b>To: </b>22/9/2024</li>
        <li><b>Lodgings: </b>Cappadocia Caves Hotel</li>
        </ul>    
    </div>

    <div class="Activity">
        <h1><b>Activites</b></h1>
    </div>

    <div class="Activity-lists">
        <ul>
            <li>Istanbul - Visit the Grand Mosque, Hagia Sophia. Hagia Sophia is a mosque, a former church, and<br> a major cultural and historical site in Istanbul, Turkey.</li><br>
            <li>Cappadocia - a semi-arid region in central Turkey, is known for its distinctive “fairy chimneys,” tall, cone-shaped rock formations clustered in Monks Valley,<br> Göreme and elsewhere. Other notables sites include Bronze Age homes carved into, valley walls by troglodytes (cave dwellers) and later used as refuges by early Christians.<br> You can also have a ride on a Hot air Balloon.</li><br>
            <li>Pamukkale - Visit a Natural thermal pools surrounded by white limestone, accessed by a walk over rough rocks.</li><br>
            <li>Ankara - Visit the Ankara Castle is a historic fortification in the city of Ankara, Turkey, constructed in or after the 7th century.<br> The earliest fortification on the site was constructed in the 8th century BC by the Phrygians and rebuilt in 278 BC by the Galatians.</li><br>
            <li>Bursa - Uludgad-Bursa is Istanbul' skiers favourite ski resort. They like to ski on the highest mountain in western Turkey,<br> away from the stress of the capital. With its 30 kilometres of slopes, it is a perfect destination for intermediate level skiers and snowboarders.<br> Uludag-Bursa is located at an altitude of 2000 metres, which gives it good snow cover in the heart of winter.</li>
        </ul>
    </div>
    <br>

    <div class="person-counter">
        <form>
            <label for="No. of pax">Select No. of pax:</label>
            <select id="No. of pax" name="No. of Pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </form>
        </div>
    
        <a href="/Booking" class="button"><b>Proceed</b></a>

</body>
<footer>
    <p>LetsD'Part. All rights reserved @2024.</p>
</footer>
</html>