<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel="icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/Booking">Booking</a></li>
                    <li><a href="/chat">Chat</a></li> 
                    {% endif %}
                    {% if user.is_admin %}
                    <li><a href="/admin">Admin</a></li>   
                    {% endif %}      
                </ul>
            </div>
            <div class="auth-buttons">
                {% if user.is_authenticated %}
                <a href="/logout">Log Out</a>
                {% else %}
                <a href="/login">Log In</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div class="package">
        <h1><b><i><u>Basic Package</u></i></b></h1><br>
    </div>
    <div class="Description">
        
        <form id="booking-form" method="POST" action="/UnitedKingdom"> 
            <ul>
                <li>
                    <label for="start-date"><b>Start Date:</b></label>
                    <input type="date" id="start-date" name="start-date" required>
                </li>
                <li>
                    <label for="return-date"><b>Return Date:</b></label>
                    <input type="date" id="return-date" name="return-date" required> 
                </li>
                <li>
                    <label for="flight"><b>Flight:</b></label>
                    <select id="flight" name="flight">
                        <option value="British Airways">British Airways - RM1600</option>
                        <option value="Virgin Atlantic">Virgin Atlantic - RM1500</option>
                        <option value="Emirates">Emirates - RM1700</option>
                        <option value="Qatar Airways">Qatar Airways - RM1800</option>
                    </select>
                </li>
                <li>
                    <label for="lodging"><b>Lodging:</b></label>
                    <select id="lodging" name="lodging">
                        <option value="Premier Inn">Premier Inn - RM800</option>
                        <option value="Hilton London">Hilton London - RM1000</option>
                        <option value="The Ritz London">The Ritz London - RM1200</option>
                        <option value="Holiday Inn">Holiday Inn - RM900</option>
                    </select>
                </li>
            </ul>

            <div class="Activity">
                <h1><b>Activities</b></h1>
            </div>
            <div class="Activity-lists">
                <ul>
                    <li>
                        <input type="checkbox" id="loch-ness" name="activities" value="Loch Ness">
                        <label for="loch-ness">Visit Loch Ness, Glencoe & Scottish Highlands Tour - RM400</label>
                    </li><br>
                    <li>
                        <input type="checkbox" id="london-tower" name="activities" value="London Tower">
                        <label for="london-tower">Visit London Tower Bridge + The Tower of London - RM300</label>
                    </li><br>
                    <li>
                        <input type="checkbox" id="madame-tussauds" name="activities" value="Madame Tussauds">
                        <label for="madame-tussauds">Visit London's Madame Tussauds - RM200</label>
                    </li><br>
                    <li>
                        <input type="checkbox" id="stadium-tour" name="activities" value="Stadium Tour">
                        <label for="stadium-tour">Visit the World Renowned club's stadiums like Anfield, Old Trafford, and Etihad Stadium - RM350</label>
                    </li><br>
                    <li>
                        <input type="checkbox" id="stonehenge" name="activities" value="Stonehenge">
                        <label for="stonehenge">Visit the UNESCO Heritage site, Stonehenge - RM250</label>
                    </li>
                </ul>
                <div class="person-counter">
                    <label for="No. of pax">Select No. of pax:</label>
                    <select id="No. of pax" name="No. of Pax">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                    </select>
                </div>
                <br>
                <a href="/Booking" class="button"><b>Proceed</b></a>
            </div>
        </form>
    </div>
</body>
<footer>
    <p>LetsD'Part. All rights reserved @2024.</p>
</footer>
</html>
