<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsD'part</title>
    <link rel="stylesheet" href="static/css/Home.css">
    <link rel="stylesheet" href="static/css/countries.css">
    <link rel= "icon" href="\static\Logo.png" type="image/icon type">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <div class="logo">
                    <img src="/static/Logo.png" alt="Logo">
                </div>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/package">Travel Packages</a></li>
                    <li><a href="/cart">Cart</a></li>
                    <li><a href="/myaccount">My Account</a></li>
                    <li><a href="/history">Booking</a></li>
                    <li><a href="/chat">Chat</a></li>    
                </ul>
            </div>
            <div class="auth-buttons">
                <a href="/login">Log In</a>
            </div>
        </nav>
    </header>

    <div class="package">
        <h1><b><i>Basic package</i></b></h1><br>
    </div>
    <div class="Description">
        <p>Starts from RM 4.7k per person</p>
        <p>10 Days 8 Nights</p>
        <p>Flight - British Airways (Direct flight to London Heathrow Airport from Kuala Lumpur International Airport)</p>
    </div>
    <div class="Activity-lists">
        <ul>
            <li>Visit the infamous Scotland's Loch Ness, Glencoe & Scottish highlands Tour</li><br>
            <li>Visit London Tower Bridge + The Tower of London </li><br>
            <li>Visit London's Madame Tussauds</li><br>
            <li>Visit the World Renowned club's stadiums like the Anfield, Old Traffords and Etihad Stadium.</li><br>
            <li>Visit the Unesco Heritage site, Stonehenge </li>
        </ul>
    </div>
    <br>
    <div class="person-counter">
        <form>
            <label for="No. of pax">Select No. of pax:</label>
            <select id="No. of pax" name="No. of Pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </form>
        </div>
    
        <a href="/booking page" class="button"><b>Proceed</b></a>

</body>
</html>